/.idea
/.gradle
/.externalNativeBuild
/.cxx
build
/captures
*.iml
*.jks
*.ini
*.apk
*.aab
*.DS_Store
*.kotlin
beta
debug
google-services.json
keystore.gradle
local.properties
release
secret.properties