<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_small_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/md_theme_secondaryContainer" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.FirebaseAppInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.FirebaseAuthInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.FirestoreInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.MobileAdsInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.KtorInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.RoomDBInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.CoilInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.StorageInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.DependencyGraphInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.raghavsatyadev.support.compose.startup.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>

